include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include axon *.css
recursive-include axon *.csv
recursive-include axon *.html
recursive-include axon *.ico
recursive-include axon *.js
recursive-include axon *.json
recursive-include axon *.md
recursive-include axon *.png
recursive-include axon *.py
recursive-include axon *.svg
recursive-include axon *.txt
recursive-exclude axon *.pyc
